*/.ipynb_checkpoints/*
/midterm-project/sales_analysis.html
/midterm-project/subs/*
/midterm-project/submission.csv
/hic_prediction/*
*/__pycache__/*
/midterm-project/logs/*
/peer_review/*
/midterm-project/anon-sub.ipynb
